<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LKSMart.Properties.Settings.LKSMartConnectionString"
            connectionString="Data Source=DESKTOP-E12UESD;Initial Catalog=LKSMart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LKSMart.Properties.Settings.LKSMartConnectionString1"
            connectionString="Data Source=LAPTOP-6T3R92ID;Initial Catalog=LKSMart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>